<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
    <style>
        body {
            padding: 20px;
        }
        .table-responsive {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Todo Application</a>
</nav>
<div class="container mt-4">
    <h1 class="text-center">Spring Boot 3.0.0 Todo Application</h1>
    <hr />

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Actions</th>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}" th:class="${task.isComplete} ? 'table-success' : 'table-warning'">
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-info" th:href="@{/task/{id}/edit}(id=${task.id})">
                            <i class="bi bi-pencil-fill"></i> Edit</a>
                        <a class="btn btn-danger" th:href="@{/task/{id}/delete}(id=${task.id})">
                            <i class="bi bi-trash-fill"></i> Delete</a>
                        <a class="btn btn-success" th:href="@{/task/{id}/done}(id=${task.id})">
                            <i class="bi bi-check-circle-fill"></i> Mark as Done</a>
                    </div>
                </td>
                <td th:text="${task.id}"></td>
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.due_date}"></td>
                <td th:text="${task.priority}"></td>
                <td th:text="${task.created_at}"></td>
                <td th:text="${task.updated_at}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <p><a class="btn btn-outline-success btn-lg btn-block" href="/task/create">
        <i class="bi bi-plus-square-fill"></i> Create a Task</a>
    </p>
</div>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>
